<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-selector/core-selector.html">
<link rel="import" href="../services/extra-service.html">
<link rel="import" href="extra-card.html">

<polymer-element name="extras-list" attributes="coeff">
  <template>
    <style>
    :host {
      display: block;
      width: 100%;
    }
    </style>

    <!-- add markup here -->
    <extra-service id="service" extras="{{extras}}">
    </extra-service>

    <div layout vertical center>
      <core-selector selected="0" multi>
        <template repeat="{{extra in extras}}">
          <style>
            .core-selected {
              background: red;
            }
          </style>
          <core-item on-select="{{test}}">
            <extra-card>
              <img src="{{extra.image}}" width="70" height="70" />
              <h2>{{extra.name}}</h2>
            </extra-card>
          </core-item>
        </template>
      </core-selector>
    </div>

  </template>

  <script>
    Polymer({
      ready: function() {
        this.coeff = 0;
      },
      test: function(event, detail, sender) {
        var extra = sender.templateInstance.model.extra;
        this.coeff += extra.coefficient;
      }
    });
  </script>

</polymer-element>
