<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../services/size-service.html">
<link rel="import" href="size-card.html">

<polymer-element name="sizes-list">
  <template>
    <style>
    :host {
      display: block;
      width: 100%;
    }
    </style>

    <!-- add markup here -->
    <size-service id="service" sizes="{{sizes}}">
    </size-service>

    <div layout vertical center>
      <template repeat="{{size in sizes}}">
        <size-card>
          <img src="{{size.image}}" width="70" height="70" />
          <h2>{{size.name}}</h2>
        </size-card>
      </template>
    </div>

  </template>

  <script>
    Polymer({

    });
  </script>

</polymer-element>
