<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">

<polymer-element name="strength-button">
  <template>
    <link href="strength-button.css" rel="stylesheet">

    <span flex>Estimate: </span>
    <paper-button raised id="button" label="1" icon="menu"></paper-button>

  </template>

  <script>
    Polymer({

    });
  </script>
</polymer-element>
